

.home-container {
    background-color: #07393C;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.home-text-container{
    display: grid;
    grid-template-rows: repeat(1fr, 3fr, 1fr);
    height: 100%;
    color: white;
    position: relative;
    padding: 2rem;
    width: 90%;
    overflow: hidden;
    border: 1px solid #fff;
}


.home-section-text{
    grid-row: 2 / 3;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.Intro-left-side{
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.name-wrapper{
    position: relative;
    display: inline-block;
    padding: 0.5rem 1rem;
    margin-top: 0.25rem;
    margin-bottom: 1rem;
}

.name{
    font-size: 4rem;
    color: black;
    margin: 0;
}

.job-title{
    position: absolute;
  right: -100px;
  bottom: -1.5rem;
  color: white;
  font-size: 0.9rem;
}

.continue-button{
    position: absolute;
  bottom: 2rem;
  right: 2rem;
  background: white;
  color: #033333;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
}