

.home-container {
    background-color: #07393C;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    width: 100%;
}

.home-text-container {
    display: flex;
    flex-direction: column;
    gap: 100px;
    align-items: center;
    justify-content: center;
    color: #fff;
    width: 90%;
    height: 100%;
    font-family: 'Instrument Serif', serif;
}

.name-wrapper{
    width: 100%;
    margin: 10px;
    font-family: "Instrument Serif", serif;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
}

.Left-side-container{
    border: 1px solid red;
}

.Intro-left-side{
    font: 'Instrument Serif', serif;
    font-size: 1rem;
    text-align: left;
    margin: 0;
}

.name{
    font-size: 6.5rem;
    font-weight: bold;
    color: #fff;
    text-align: center;
    font: 'Instrument Serif', serif;
    margin: 0;
}

.job-title{
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    text-align: right;
    font: 'Instrument Serif', serif;
    margin: 0;
}

.Button-Container{
    display: flex;
    width: 100%;
    padding: 10px;
    align-items: center;
    justify-content: right;
}

.Button-Container button a{
    text-decoration: none;
    font-family: 'Instrument Serif', serif;
}

.continue-button{
    background-color: #fff;
    color: #07393C;
    font-family: 'Instrument Serif', serif;
    font-size: 1.2rem;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.continue-button:hover{
    background-color: #07393C;
    color: #fff;
}