body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #07393C;
  color: #fff;
  font-family: 'Arial', sans-serif;
  text-align: center;
  text-decoration: none;
  color: #000;
}